a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.textGlitch{
  color: #000000;
  animation: glitch 0.5s linear infinite;
}
@keyframes glitch {
  0%, 100%{
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00 ;
  }
  25%{
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00 ;
  }
  50%{
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f00 ;
  }
  75%{
    text-shadow: 1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00 ;
  }
}

